<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../layout/head') %>
</head>
<header>
  <%- include('../../layout/header') %>
</header>

<body>
  <main id="main">
    <div class="books">
    
      <section class="book">
        <img id="img" src="<%= book.image %>">
        <h2 class="title"><%= book.title %></h2>
        <h3 class="author"><%= book.author %></h3>
        <p class="description"><%= book.description %></p>
        <p class="isbn"><%= book.isbn %></p>
     

        <form action="/add" method="POST">
          <input type="hidden" name="title" value="<%= book.title %>">
          <input type="hidden" name="author" value="<%= book.author %>">
          <input type="hidden" name="description" value="<%= book.description %>">
          <input type="hidden" name="isbn" value="<%= book.isbn %>">
          <input type="hidden" name="image" value="<%= book.image %>">
        
        </form>
      </section>
  </main>



  
  <div>
    <form id="updateform" action="/edit/<%= book.id %> ?_method=PUT" method="POST">
      <input type="hidden" name="id" value="<%= book.id %>">
      <legend>Author
      <input  type="text" name="author" value="<%= book.author %>">
    </legend>
    <legend>Title
      <input  type="text" name="title" value="<%= book.title %>">
    </legend>
    <legend>ISBN
      <input  type="number" name="isbn" value="<%= book.isbn %>">
    </legend>
    <legend>Image URL
      <input id="image" type="text" name="image_url" value="<%= book.image %>">
      </legend>
      <legend>Description
      <input id="cat" " type="text" name="description" value="<%= book.description %>">
    </legend>
      <button type="submit">Update Details</button>
    </form>
  </div>
</body>

</html>