<!DOCTYPE html>
<html>

<head>
  <%- include('../../layout/head') %>
</head>

<body>
  
    <header>
      <a href="/">Home</a>
      <a href="/searches/new">New Search</a>
      
    <h1>Best Books</h1>
</header>
  <section>
    <h3>Search Results</h3>
  </section>
  <main id="main">
    <div class="books">
      <% bikes.forEach( book => { %>
      <section class="book">
        <img id="img" src="<%= book.image %>">
        <h2 class="title"><%= book.title %></h2>
        <h3 class="author"><%= book.author %></h3>
        <p class="description"><%= book.description %></p>
        <p class="isbn"><%= book.isbn %></p>
       
        <form action="/add" method="POST">
          <input type="hidden" name="title" value="<%= book.title %>">
          <input type="hidden" name="author" value="<%= book.author %>">
          <input type="hidden" name="descripion" value="<%= book.description %>">
          <input type="hidden" name="isbn" value="<%= book.isbn %>">
          <input type="hidden" name="image" value="<%= book.image %>">
          <button type="submit">Add to List</button>
        </form>
      </section>

      <% }) %>
 
    </div>
  </main>

</body>

</html>