<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layout/head') %>

</head>

<header>
  <%- include('../layout/header') %>
  
</header>

<body>
  <div class="books">
    <% bikes.forEach( book => { %>
    <section class="book">
      <img id="img" src="<%= book.image %>">
      <h2 class="title"><%= book.title %></h2>
      <h3 class="author"><%= book.author %></h3>
      <p class="description"><%= book.description %></p>
      <p class="isbn"><%= book.isbn %></p>

      <form action="/books/<%= book.id%>" method="GET">
      <button type="submit">Details</button>
    </form>
    </section>
    <% }) %>
  </div>
</body>

</html>