<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS example</title>
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">

</head>

<header>
  <a href="/">Home</a>
  <a href="/searches/new">New Search</a>
  
</header>

<body>
  <div class="books">
    <% bikes.forEach( book => { %>
    <section class="book">
      <img id="img" src="<%= book.image %>">
      <h2 class="title"><%= book.title %></h2>
      <h3 class="author"><%= book.author %></h3>
      <p class="description"><%= book.description %></p>
      <p class="isbn"><%= book.isbn %></p>

      <form action="/books/<%= book.id%>" method="GET">
      <button type="submit">Details</button>
    </form>
    </section>
    <% }) %>
  </div>
</body>

</html>